@(itemCount: Int)

@main("Prediction of Available Parking Space in Paderborn") {

<p>This is a webapp for my participation in the course <a href="https://www.cs.helsinki.fi/en/courses/582739/2017/k/k/1">
 Project in Practical Machine Learning</a> at <a href="https://www.helsinki.fi/fi">Helsinkin Yliopistio (University of
 Helsinki)</a></p>

<p>Until now, we crawled @itemCount different data points to use in the predictions. The data can be retrieved as JSON via <a href="/working_data_crawled">/working_data_crawled</a>.</p>

<p>After some time, the data will also be available as a graph and predicted availability will be compared to actual availability.</p>
}
