@(itemCount: Int)

@main("Prediction of Available Parking Space in Paderborn") {

<div class='chart-container'>

<p>This is a webapp for my participation in the course <a href="https://www.cs.helsinki.fi/en/courses/582739/2017/k/k/1">
 Project in Practical Machine Learning</a> at <a href="https://www.helsinki.fi/fi">Helsinkin Yliopistio (University of
 Helsinki)</a></p>

<p>Until now, we crawled @itemCount different data points to use in the predictions. The data can be retrieved as JSON
 via <a href="@de.ironjan.pppb.core.routes.DataAPIController.working_data_crawled()">working_data_crawled</a>. For
internal testing, the data is also <a href="@de.ironjan.pppb.core.routes.DataAPIController.csv()">available as CSV</a>
 (no header in CSV; see source code for field descriptions).</p>

<p>Some links for the presentation:</p>

 <ul>
  <li><a href="@de.ironjan.pppb.prediction.routes.PredictionController.predict()">Predict 15 minutes into the future</a></li>
  <li><a href="@de.ironjan.pppb.evaluation.routes.EvaluationController.getStats()">Prediction Statistics</a></li>
 </ul>
</div>

<div class='chart-container'>
 <span>Free spaces by day</span>
 <div id='day-free-chart'></div>
</div>

<div class='chart-container'>
 <span>Predictions</span>
 <div id='prediction-chart'></div>
</div>

<div class='chart-container'>
 <span>Predictions compared to actual data (Not yet implemented)</span>
 <div id='eval-chart'></div>
</div>

<div class='chart-container'>
  <span>Predictions were off by</span>
  <div id='predictions-off-by-chart'></div>
</div>


<script src="@routes.Assets.versioned("javascripts/day-free.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/predictions.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/predictions-off-by.js")" type="text/javascript"></script>
}
